{% extends '../base.twig' %}

{% block content %}
    <div style=" position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
        <h1>Vitajte!</h1>
        <p style="color:green">Táto stránka obsahuje informácie o nadchádzajúcich koncertoch na Slovensku, vrátane dátumov, časov, miest konania. Ak hľadáte informácie o koncertoch na Slovensku, táto stránka by pre vás mohla byť užitočná.</p>
    </div>
{% endblock %}